psycopg2-binary
boto3
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
dropbox
msal
requests
pgpy
paramiko
google-cloud-storage
azure-storage-blob
cryptography
google-cloud-kms
azure-identity
azure-keyvault-keys
google-cloud-secret-manager
azure-keyvault-secrets
