node_modules/
dist/
.env
coverage/
playwright-report/
npm-debug.log*
.DS_Store
logs/
*.log
*.gz

.env.alert
# Termux/Android lokalno
storage/
.ssh/
.npm/
.npmrc
.npm/_cacache/
.npm/_logs/
.bashrc
.lesshst

# Build artefakti
dist/
build/
android/app/build/
*.aab
*.apk

# Editor/OS
.DS_Store
*.log
